:root {
    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;
}
body {
    background-color: black;
    margin: 0;
}
nav {
    background-color: #111827;
    list-style-type: none;
    padding: 0;
}
nav a {
    color: var(--text-primary);
    margin-right: 15px;
    text-decoration: none;
}
.maindiv {
    background-color: #0f172a;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    margin: auto;
    padding: auto;
}
.headerdiv {
    background-color: #15233b;
    padding: 30px;
    margin: auto;
}
.headerdiv h1 {
    color: white;
    margin: 0;
}
.navdiv {
    padding: 10px;
    margin-top: 10px;
    position: sticky;
    color: var(--text-primary);
}
.centerdiv {
    text-align: center;
    margin: auto;
    padding: 10px;
}
.divstyle1 {
    background-color: #111827;
    margin: auto;
    padding: 10px;
    color: var(--text-primary);
}
.titlediv {
    background-color: #111827;
    margin: auto;
    padding: 10px;
    color: var(--text-secondary);
}
.divstyle2 {
    background-color: rgb(31, 55, 82);
    margin: auto;
    padding: 10px;
    color: var(--text-secondary);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
